{% extends "general/base.html" %}
{% block content %}
   <div class="container">
      <div class="row pt-4">
         <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <div class=row>
               <div class="col">
                  <h3>{{event.name}}</h3>
                  <h4>{{event.place}}</h4>
                  {% if event.date_start == event.date_end %}
                     <h4>{{event.date_start}}</h4>
                  {% else %}
                     <h4>{{event.date_start}} / {{event.date_end}}</h4>
                  {% endif %}
               </div>
            </div>
            <div class="row pt-3">
               <div class="col-sm-6 col-lg-4 col-md-4">
                  <a href="{% url 'add_entry' event_id=event.id %}">добавит заявку</a>
               </div>
	         </div>
            
         </div>
         <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <ul class="list-group">
            {% for category in categories %}
               <li class="list-group-item">
                  <a href="{% url 'category' category_id=category.id %}">
                     <h5>{{category.name}}</h5>
                  </a>
               </li>
            {% endfor %}
            </li>
         </div>
      </div>
   </div>
{% include 'competitions/entryForm.html' %}
{% endblock %}
