{% extends "general/base.html" %}
{% block content %}
   <div class="container">
      <div class="row">
         <div class="col">
            <form action="#" method="post" enctype="multipart/form-data">
               {% csrf_token %}
               <div class="form-row">
                  <div class="form-group col-md-6">
                     <label for="inputName">Имя</label>
                     <input type="text" name="first_name" placeholder="Имя" class="form-control" id="inputName">
                  </div>
                  <div class="form-group col-md-6">
                     <label for="inputFamily">Имя</label>
                     <input type="text" name="last_name" placeholder="Фамилия" class="form-control" id="inputFamily">
                  </div>
               </div>
               <div class="form-group">
                  <label class="inputClub">Спортивная школа/Клуб</label>
                  <input name="club" placeholder="" type="text" id="inputClub" value="" class="text form-control">
               </div>
               <div class="form-group">
                  <label class="inputBirthday">Дата рождения</label>
                  <input name="birthday" placeholder="01.01.0001" type="date" id="inputClub" value="" class="text form-control">
               </div>
               <div class="form-group">
                  <label for="inputCategory">Категория</label>
                  <select name="category" id="inputCategory" class="form-control">
                  {% for category in categories %}
                  <option value="{{category.id}}">{{category.name}}</option>
                  {% endfor %}
                  </select>
               </div>
 
               <button type="submit" class="btn btn-success">подать заявку</button>
            </form>
         </div>
      </div>
   </div>
{% endblock %}
