{% block header %}
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/">
				<img width="100" style="padding-left: 10px;" src="">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item active">
					<a class="nav-link" href="/news">новости</a>
				</li>
				<!--li class="nav-item">
					<a class="nav-link" href="#">расписание</a>
				</li-->
				<li class="nav-item">
					<a class="nav-link" href="/feedback">отзывы</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/gallery">галерея</a>
				</li>
				<!--li class="nav-item">
					<a class="nav-link" href="#">запись</a>
				</li-->
				<li class="nav-item">
					<a class="nav-link" href="/about">контакты</a>
				</li>
	</nav>
{% endblock %}
