{% extends "general/base.html" %}

{% block content %}
<div class="row">
		<div class="col-lg-12">{% include "general/carousel.html" %}</div>
</div>
<div class="row mt-5">
		<div class="col-lg-10 text-center col-md-10 col-sm-12">
			<h3 class="text-center">О нас</h3>
	<h2>О проекте</h3>
		<p>
         Проект "Media-Ice" создан для развития и популяризации фигурного катания на кноьках. Мы занимаемся как организацией и проведением детских сборов по фигурному катанию на коньках, так и организацией и проведением спортивных состязаний. 
		</p>
		<p>
		</div>
</div>
<div class="row">
	{% include "general/posts.html" %}
</div>
{% endblock %}
