<header>
   <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
      <a href="'/'" class="navbar-brand">
         <strong>IM</strong>
      </a>
      <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler">
         <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
               <a href="/camps/" class="nav-link">
                  сборы
                  <span class="sr-only">(current)</span>
               </a>
            </li>
         </ul>
            <li class="nav-item">
               <a href="/competitions/" class="nav-link">
                  соревнования
                  <span class="sr-only"></span>
               </a>
            </li>
         </ul>
             <li class="nav-item active">
               <a href="/feedback" class="nav-link">
                  отзывы
                  <span class="sr-only"></span>
               </a>
            </li>
         </ul>
          </ul>
             <li class="nav-item active">
               <a href="/gallery" class="nav-link">
                  галерея
                  <span class="sr-only"></span>
               </a>
            </li>
         </ul>
         </ul>
             <li class="nav-item active">
               <a href="/about" class="nav-link">
                  контакты
                  <span class="sr-only"></span>
               </a>
            </li>
         </ul>
      </div>
   </nav>
   <div class="view intro-2">
      <div class="full-bg-img">
         <div class="mask rgba-black-light flex-center">
            <div class="container text-center white-text fadeInUp">
            </div>
         </div>
      </div>
   </div>
</header>
